<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" routerLink="/">La Bodega</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li><a routerLink="/dashboard"><i class="fas fa-th"></i></a></li>
      <li><a routerLink="/carrito"><i class="fas fa-shopping-cart"><span class="badge badge-pill badge-danger" *ngIf="_dataS.j != 0">{{_dataS.j}}</span></i></a></li>
      <li><a (click)="logOut()" routerLink="/"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </div>
</nav>
