<div class="container">

  <menu></menu>

</div>
<div class="blanco container scrollDown">
  <div class="row justify-content-between" style="padding-top: 10px">
    <div class="col-12 col-md-6 ">
      <img src="{{ver.url}}" alt="{{ver.nombre}}" class="img-thumbnail">
    </div>
    <div class="col-12 col-md-6">
      <p class="display-3">{{ver.nombre | titlecase}}</p>
      <p><strong>Precio:</strong> {{ver.precio}}</p>
      <p><strong>Unidades Disponibles:</strong> {{ver.cantidad}}</p>
      <p class="text-justify">{{ver.descripcion}}</p>
    </div>
  </div>
  <button  class="btn btn-light" routerLink="/dashboard" type="button" name="button">Regresar</button>

</div>
