<div class="container">

  <menu></menu>

</div>

<div class="container blanco scrollDown espacio-interno">

  <div class="row">

    <div class="col-12 col-md-6">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <p class="display-1">
        Total:
      </p>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-light">Light</button>
    </div>

  </div>

</div>
