<div class="container">

  <menu></menu>

</div>
<div class="container blanco espacio-interno" *ngIf="_dataS.j == 0">
  <p class="alert alert-info text-center">
    Tu carrito esta vacio.
  </p>

</div>
<div class="container blanco scrollDown espacio-interno" *ngIf="_dataS.j != 0">
  <p class="h2">
    Carrito de compras
  </p>
  <div class="row">

    <div class="col-12 col-md-6 margen-inferior">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let compras of _dataS.listaCarrito;"><img class="m-r-2 img-thumbnail img-carrito" [src]="compras.url" [alt]="compras.nombre" />{{compras.nombre | titlecase}}<br /><strong>Cantidad:</strong> {{compras.valor}}<br /><strong>Subtotal:</strong> {{compras.valor * compras.precio | currency}}</li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <p class="h3">
        Total: {{ _dataS.total | currency}}
      </p>
      <button type="button" class="btn btn-light" (click)="vaciarCarrito()">Cancelar</button>
      <button type="button" class="btn btn-light" (click)="pagar()">Comprar</button>
    </div>

  </div>

</div>
