* {
    padding: 0;
    margin: 0;
}
body {
  background-image: url(./assets/img/main-fondo.jpg);
  background-size: cover;
}

html,body{
  height:100%;
  width:100%;
}

.navbar {
  margin-bottom: 20px;
}
