<div class="container scrollDown">
  <nav class="navbar navbar-light bg-light justify-content-between sticky-top rounded">
    <h3 >Catálogo de Productos</h3>
  <form class="form-inline flex-column my-2 my-lg-0">
    <p class="navbar-light text-center">¿Qué estás buscando?</p>
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto..." #buscaBar>
  </form>
</nav>

  <div class="margen-inferior" *ngFor="let producto of _dataS.prod; let i = index;" >
    <div class="col" *ngIf="i%3 === 0">

      <div class="row justify-content-around">

        <div class="card" *ngFor="let item of _dataS.prod | slice:i:i+3  | buscador: 'nombre' : buscaBar.value" style="width: 18rem;">
          <img class="card-img-top img-fluid" [src]="item.url" [alt]="item.nombre">
          <div class="card-body">
            <h5 class="card-title">{{item.nombre | titlecase }}</h5>
            <p class="card-text"><strong>Precio:</strong> {{item.precio | currency}}</p>
            <p class="card-text"><strong>Unidades Disponibles:</strong> {{item.cantidad}}</p>
            <div class="row align-items-center justify-content-around">
              <div class="col">
                  <button class="btn btn-primary"type="button" name="Ver Más" routerLink="/{{item.nombre}}">Ver Más</button>
              </div>
              <div class="col">
                <div class="row">
                  <button [disabled]="item.valor > item.cantidad" class="btn btn-warning col" type="button" name="Añadir" (click)="anadirCarrito( item.id )">Añadir</button>
                  <input [id]="item.id" class="form-control col ml-2" type="number" name="cantidad" min="0" [max]="item.cantidad" [(ngModel)]="item.valor">
                </div>
              </div>
              <div class="alert alert-warning" *ngIf="item.valor > item.cantidad" >No tenemos tanto producto.</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
