.espacio {
  margin: 5px;
}
.btn-warning {
  color: white;
}
.margen-inferior {
  margin-bottom: 15px;
}
.card {
  width: 18rem;
}
@media only screen and (max-width: 425px) {
    .card {
      width: 100%;
    }
}
