<div class="container scrollDown blanco">
  <nav class="navbar navbar-light bg-light justify-content-between sticky-top rounded">
    <h3 >Catálogo de Productos</h3>
  <form class="form-inline flex-column my-2 my-lg-0">
    <p class="navbar-light text-center">¿Qué estás buscando?</p>
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto..." #buscaBar>
  </form>
</nav>

<div class="d-flex flex-row flex-wrap">

  <div class="card p-3 mr-auto margen-inferior" *ngFor="let producto of _dataS.prod | buscador: 'nombre' : buscaBar.value">
    <img class="card-img-top img-fluid" [src]="producto.url" [alt]="producto.nombre">
    <div class="card-body">
      <h5 class="card-title">{{producto.nombre | titlecase }}</h5>
      <p class="card-text"><strong>Precio:</strong> {{producto.precio | currency}}</p>
      <p class="card-text"><strong>Unidades Disponibles:</strong> {{producto.cantidad}}</p>
      <div class="row align-items-center justify-content-around">
        <div class="col">
            <button class="btn btn-primary" type="button" name="Ver Más" routerLink="/producto/{{producto.nombre}}" (click)="verM( producto.id )">Ver Más</button>
        </div>
        <div class="col">
          <div class="row">
            <button [disabled]="producto.valor > producto.cantidad" class="btn btn-warning col" type="button" name="Añadir" (click)="anadirCarrito( producto.id )">Añadir</button>
            <input [id]="producto.id" class="form-control col ml-2" type="number" name="cantidad" min="0" [max]="producto.cantidad" [(ngModel)]="producto.valor">
          </div>
        </div>
        <div class="alert alert-warning" *ngIf="producto.valor > producto.cantidad" >No tenemos tanto producto.</div>
      </div>
    </div>
  </div>

</div>
</div>
